 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CIPSA Master App - M_XI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="dropdown nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Agenda
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Listas Personas", "Persons", "Agenda", null, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Buscar Persona", "FindPerson", "Agenda", null, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Gestión de Personas", "EmployeeManagement", "Agenda", null, new { @class = "dropdown-item" })
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tienda
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Gestión de películas", "MovieManagement", "Shop", null, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Gestión de juegos", "GameManagement", "Shop", null, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Gestión de clientes", "ClientManagement", "Shop", null, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Artículos alquilados pendientes", "PendingRentedArticles", "Shop", null, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Listar Artículos", "RentedArticles", "Shop", null, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Registrar Alquiler", "RegisterRental", "Shop", null, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Devolver Producto", "ReturnArticle", "Shop", null, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Listado de alquileres fuera de plazo", "LateRental", "Shop", null, new { @class = "dropdown-item" })
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CIPSA Master App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
