@model IEnumerable<CIPSA.M_XI.WebUI.Models.GameManagementModel>

@{
    ViewBag.Title = "Gestión de Juegos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestión de Juegos</h2>

<label class="paddingTop20 paddingBottom20">
    <span class="marginRight20">Exportar:</span>
    <span id="tableExport" class="row form-inline tableExportButton" />
</label>

<div class="form-group">
    <table id="game_table" class="display widthFullScreen">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Título
                </th>
                <th>
                    Plataforma
                </th>
                <th>
                    ¿Mayor de edad?
                </th>
                <th>
                    ¿Está rentado?
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Platform)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAdult)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsRented)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div id="tableAdditionalButton" style="float:right;padding-right: 15px;">
        <div class="dt-buttons">
            <button id="deleteButton" class="btn btn-outline-secondary" tabindex="0" aria-controls="game_table" type="button" disabled="true">
                <span>Eliminar</span>
            </button>
            <button id="addButton" class="btn btn-outline-secondary" tabindex="0" aria-controls="game_table" type="button">
                <span>Nuevo</span>
            </button>
        </div>
    </div>
</div>

<div class="form-inline paddingTop70 hidden" id="detailForm">
    <fieldset>
        <legend class="text-center header">Detalles</legend>

        <div id="gameManagementAnimate" class="text-center row hide">
            <div class="col-md-12 text-center">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>
        </div>

        <div id="gameManagementInfo">
            <div class="row top-buffer">
                <div class="col-md-2">
                </div>
                <div class="form-group col-md-4">
                    <label for="name" class="col-md-4">Título:</label>
                    <input type="text" class="form-control col-md-8" id="name" maxlength="9">
                </div>
                <div class="form-group col-md-4">
                    <label for="platform" class="col-md-4">Plataforma:</label>
                    @Html.DropDownList("Plataforma", (List<SelectListItem>)ViewBag.PlatformOptions, new { id = "platform", @class = "form-control" })
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-2">
                </div>
                <div class="form-group col-md-4">
                    <label for="isAdult" class="col-md-4">¿Mayor de edad?</label>
                    @Html.RadioButton("isAdult", "Si", true, new { id = "isAdultYes" })Si
                    @Html.RadioButton("isAdult", "No", false, new { id = "isAdultNo" })No
                </div>
                <div class="form-group col-md-4">
                    <label for="isAdult" class="col-md-4">¿Está Rentado?</label>
                    @Html.RadioButton("isRented", "Si", true, new { id = "isRentedYes" })Si
                    @Html.RadioButton("isRented", "No", false, new { id = "isRentedNo" })No
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-2">
                </div>
                <div class="form-group col-md-4">
                </div>
                <div class="form-group col-md-4">
                    <div class="col-md-12 pull-right">
                        <button id="cancelButton" class="btn btn-outline-secondary" type="button">Cancelar</button>
                        <button id="addOrUpdateButton" class="btn btn-outline-secondary" type="button">Guardar</button>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>

    </fieldset>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/Scripts/App/m_XI.shop.gameManagement.js")
}